$color_primary: white;
$color_secondary: #ffcd00;
$color_terciary: rgb(239, 234, 228);

$border_primay: 1px solid rgb(229, 229, 229);
$fontTitre: "Righteous", cursive;

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif !important;
  $fontTitre: "Righteous", cursive;
}

input {
  outline: none;
  appearance: none;
  border: 1px solid rgb(229, 229, 229);
}

* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 1.15rem;
  list-style-type: circle;
}

a:hover {
  color: #2d2b2b !important;
}
